---
layout: default
---
<body data-spy="scroll" data-target="#topnav">

{% for post in site.posts %}
{% if post.categories contains 'meetup01' %}
<section id="AndroidJam" class="AndroidJam">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p><h2><b>{{post.title}}</b></h2>
                {{post.content}}
                </p>
            </div>
        </div>
    </div>
</section>

{% elsif post.categories contains 'meetup' %}

<section id="io2015" class="io2015">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p><h2><b>{{post.title}}</b></h2>
                {{post.content}}
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}


    <!--  Bootstrap core JavaScript-->
    <!--  ==================================================-->
    <!-- Placed at the end of the document so the pages load faster--><script src="js/jquery.js"></script><script src="bootstrap/js/bootstrap.min.js"></script><script src="js/slick/slick.min.js"></script><script src="js/main.js"></script>
</body>
