<!DOCTYPE html(lang='en')>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="../images/logo.ico"/>
    <title>GDG Sri Lanka</title>
    <!-- Bootstrap coreCSS-->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template-->
    <link href="../css/slick/slick.css" rel="stylesheet"/>
    <link href="../css/slick/slick-theme.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/main.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries--><!--if lt IE 9-->
    <script src="../bootstrap/js/html5shiv.js">
</script><script src="../bootstrap/js/respond.min.js"></script>
</head>