<html>
<body data-spy="scroll" data-target="#topnav">
<div id="topnav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span>                <span class="icon-bar"></span>                <span class="icon-bar"></span></button>            <a href="../index.html" class="navbar-brand">GDG Sri Lanka</a></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="navlist">

                <li><a href="../index.html">Home</a></li>
                <li><a href="../events.html">Events</a></li>
                <li><a href="../gallery.html">Gallery </a></li>
                <li><a href="../team.html">Team</a></li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse-->
    </div>
</div>
<!--  Bootstrap core JavaScript--><!--  ==================================================--><!-- Placed at the end of the document so the pages load faster-->
<script src="../js/jquery.js"></script><script src="../bootstrap/js/bootstrap.min.js"></script><script src="../js/slick/slick.min.js"></script><script src="../js/main.js"></script>
</body>
</html>