#services.container
  // Example row of columns
  .row.features
   .col-lg-4.text-center
     .single-fet
      div
        span.icon-stack.icon-4x
         i.icon-circle.icon-stack-base
         i.icon-ok.icon-light           
      h2
        | With Bootstrap 
        span.label.label-warning 3.0
      |                 
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
        | mauris
        | condimentum nibh, ut fermentum massa justo sit amet.
   |         
   .col-lg-4.text-center
     .single-fet
      div
        span.icon-stack.icon-4x
         i.icon-circle.icon-stack-base
         |   
         i.icon-laptop.icon-light
      |                 
      h2 Fully Responsive
      |                 
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
        | mauris
        | condimentum nibh, ut fermentum massa justo sit amet.
   |         
   .col-lg-4.text-center
     .single-fet
      div
        span.icon-stack.icon-4x
         i.icon-circle.icon-stack-base
         |   
         i.icon-download-alt.icon-light
      |                 
      h2
        | And Totally 
        span(style='color:#248822') Free
      |                 
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
        | mauris
        | condimentum nibh, ut fermentum massa justo sit amet.
section#features.slider
  .container
   .inner-page
     h2.page-headline.large.text-center Tell your projects awesome story.
     |             
     p.text-center
      | Tell your projects awesome story. Tell your projects awesome story. Tell your
      | projects awesome story. Tell your projects awesome story.
   |         
   .row.inner-page
     .col-md-8.col-md-push-4.lazy-container.loaded
      // <img data-original="images/mockup.png" src="images/mockup.png" alt="Looks great on every device"
      // class="lazy">
      h2
        | Our 
        strong Features
      |                 
      .row
        .col-md-6
         .feature-box
           .feature-box-icon
            i.icon-group
           |                             
           .feature-box-info
            h4.shorter Customer Support
            |                                 
            p.tall Lorem ipsum dolor sit amet, consectetur adip.
         |                         
         .feature-box
           .feature-box-icon
            i.icon-file
           |                             
           .feature-box-info
            h4.shorter HTML5 / CSS3 / JS
            |                                 
            p.tall Lorem ipsum dolor sit amet, adip.
         |                         
         .feature-box
           .feature-box-icon
            i.icon-google-plus
           |                             
           .feature-box-info
            h4.shorter 500+ Google Fonts
            |                                 
            p.tall Lorem ipsum dolor sit amet, consectetur adip.
         |                         
         .feature-box
           .feature-box-icon
            i.icon-adjust
           |                             
           .feature-box-info
            h4.shorter Colors
            |                                 
            p.tall Lorem ipsum dolor sit amet, consectetur adip.
        |                     
        .col-md-6
         .feature-box
           .feature-box-icon
            i.icon-film
           |                             
           .feature-box-info
            h4.shorter Sliders
            |                                 
            p.tall Lorem ipsum dolor sit amet, consectetur.
         |                         
         .feature-box
           .feature-box-icon
            i.icon-magic.small.user
           |                             
           .feature-box-info
            h4.shorter Icons
            |                                 
            p.tall Lorem ipsum dolor sit amet, consectetur adip.
         |                         
         .feature-box
           .feature-box-icon
            i.icon-reorder
           |                             
           .feature-box-info
            h4.shorter Buttons
            |                                 
            p.tall Lorem ipsum dolor sit, consectetur adip.
         |                         
         .feature-box
           .feature-box-icon
            i.icon-desktop
           |                             
           .feature-box-info
            h4.shorter Lightbox
            |                                 
            p.tall Lorem sit amet, consectetur adip.
     |             
     .col-md-4.col-md-pull-8
      .list-group
        a.list-group-item.active(href='#')
         h4.list-group-item-heading List group item heading
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
        |                     
        a.list-group-item(href='#')
         h4.list-group-item-heading List group item heading
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
        |                     
        a.list-group-item(href='#')
         h4.list-group-item-heading List group item heading
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
        |                     
        a.list-group-item(href='#')
         h4.list-group-item-heading List group item heading
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
section#pricing.pricing
  .container
   .row
     .col-md-12.pricing-intro
      h2.page-headline.large.text-center Tell your projects awesome story.
      |                 
      p.text-center
        | Tell your projects awesome story. Tell your projects awesome story. Tell your
        | projects awesome story. Tell your projects awesome story.
  |     
  .container
   .row.pricing-table
     .col-md-4
      .panel.panel-danger
        .panel-heading
         h3.text-center DEV PLAN
        |                     
        .panel-body.text-center
         p.lead(style='font-size:40px')
           strong $10 / month
        |                     
        ul.list-group.list-group-flush.text-center
         li.list-group-item
           i.icon-ok.text-danger
           |  Personal use
         |                         
         li.list-group-item
           i.icon-ok.text-danger
           |  Unlimited projects
         |                         
         li.list-group-item
           i.icon-ok.text-danger
           |  27/7 support
        |                     
        .panel-footer
         a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat')
           | BUY
           | NOW!
     |             
     .col-md-4
      .panel.panel-info
        .panel-heading
         h3.text-center PRO PLAN
        |                     
        .panel-body.text-center
         p.lead(style='font-size:40px')
           strong $10 / month
        |                     
        ul.list-group.list-group-flush.text-center
         li.list-group-item
           i.icon-ok.text-danger
           |  Personal use
         |                         
         li.list-group-item
           i.icon-ok.text-danger
           |  Unlimited projects
         |                         
         li.list-group-item
           i.icon-ok.text-danger
           |  27/7 support
        |                     
        .panel-footer
         a.btn.btn-lg.btn-block.btn-info(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat')
           | BUY
           | NOW!
     |             
     .col-md-4
      .panel.panel-success
        .panel-heading
         h3.text-center FREE PLAN
        |                     
        .panel-body.text-center
         p.lead(style='font-size:40px')
           strong $10 / month
        |                     
        ul.list-group.list-group-flush.text-center
         li.list-group-item
           i.icon-ok.text-danger
           |  Personal use
         |                         
         li.list-group-item
           i.icon-ok.text-danger
           |  Unlimited projects
         |                         
         li.list-group-item
           i.icon-ok.text-danger
           |  27/7 support
        |                     
        .panel-footer
         a.btn.btn-lg.btn-block.btn-success(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat')
           | BUY
           | NOW!
section.gray
  .container
   .row
     .col-md-12
      h3.text-center Tell your projects awesome story.
section#clients.about
  .dmask
   .our-clients
     .container
      .row
        .client(style='background-position: 50% 27px;')
         .client-logo
           .col-lg-8.col-md-8.col-sm-6.col-xs-12
            .clients-title
              h3.title
               | Our 
               span Clients
              |                                     
              .carousel-controls.pull-right
               a.prev.btn-mini(data-slide='prev', href='#client-carousel')
                 i.icon-angle-left
               |                                         
               a.next.btn-mini(data-slide='next', href='#client-carousel')
                 i.icon-angle-right
               |                                         
               .clearfix
            |                                 
            .clearfix
            |                                 
            .row
              #client-carousel.client-carousel.slide
               .carousel-inner
                 .item.active
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d1.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-1.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d2.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-2.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d3.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-3.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d4.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-4.png', alt='Upportdash')
                 |                                             
                 .item
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-5.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-4.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-3.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-2.png', alt='Upportdash')
           |                             
           .col-lg-4.col-md-4.col-sm-6.col-xs-12
            // Testimonials Widget Start
            .row
              .testimonials.widget
               .col-lg-12.col-md-12.col-sm-12.col-xs-12
                 .testimonials-title
                  h3.title
                    | Client 
                    span Testimonials
                  |                                                 
                  .carousel-controls.pull-right
                    a.prev.btn-mini(data-slide='prev', href='#testimonials-carousel')
                     i.icon-angle-left
                    |                                                     
                    a.next.btn-mini(data-slide='next', href='#testimonials-carousel')
                     i.icon-angle-right
                    |                                                     
                    .clearfix
               |                                         
               .clearfix
               |                                         
               #testimonials-carousel.testimonials-carousel.slide.animate_afr.d5.animate_start
                 .carousel-inner
                  .item
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                     .testimonial.item
                       p
                        | Lorem Ipsum is simply dummy text of the printing and
                        | typesetting industry. Lorem Ipsum has been the
                        | industry&apos;s standard dummy text ever since the 1500s,
                        | when an unknown printer took a galley of type.
                       |                                                             
                       .testimonials-arrow
                       |                                                             
                       .author
                        .testimonial-image
                          img(src='images/team-member-1.jpg', alt='')
                        |                                                                 
                        .testimonial-author-info
                          a(style='cursor: pointer;')
                           | Monica Sing/a&gt; Template
                           | Eden
                  |                                                 
                  .item.active
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                     .testimonial.item
                       p
                        | Lorem Ipsum is simply dummy text of the printing and
                        | typesetting industry. Lorem Ipsum has been the
                        | industry&apos;s standard dummy text ever since the 1500s,
                        | when an unknown printer took a galley of type.
                       |                                                             
                       .testimonials-arrow
                       |                                                             
                       .author
                        .testimonial-image
                          img(src='images/team-member-2.jpg', alt='')                                                              
                        .testimonial-author-info
                          a(href='#') John Doe Template Eden
                  |                                                 
                  .item
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                     .testimonial.item
                       p
                        | Lorem Ipsum is simply dummy text of the printing and
                        | typesetting industry. Lorem Ipsum has been the
                        | industry&apos;s standard dummy text ever since the 1500s,
                        | when an unknown printer took a galley of type.                                                         
                       .testimonials-arrow                                                           
                       .author
                        .testimonial-image
                          img(src='images/team-member-3.jpg', alt='')                                                                
                        .testimonial-author-info
                          a(style='cursor: pointer;') Carol Johansen Template Eden
section#contact.contact
  .container
   .row
     .col-md-6
      #contactSuccess.alert.alert-success.hidden strong Success! Your message has been sent to us.           
      #contactError.alert.alert-error.hidden strong Error! There was an error sending your message.
         
      h2.short
        strong Contact Us               
      form.clearfix(accept-charset='utf-8', method='get', action='#')
        .row
         .col-sm-6.form-group
           label(for='name') Name                          
           input#name.form-control.input-lg(type='text', placeholder='', value='', name='name')                      
         .col-sm-6.form-group
           label(for='email') Email Address                            
           input#email.form-control.input-lg(type='email', placeholder='', value='', name='email')
         
        .row
         .col-sm-12.form-group
           label(for='message') Message                            
           textarea#message.form-control(rows='4', name='message')                   
        button.btn.btn-success.btn-xlg(type='submit') Send Message          
     .col-md-offset-1.col-md-5
      br             
      h4.pull-top Get in 
        strong touch               
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet
        | varius. In eu ipsum vitae velit congue iaculis vitae at risus.             
      hr                
      h4 The Office              
      ul.unstyled
        li
         i.icon-map-marker
         strong Address:
         |  1234 Street Name, City Name, United States                   
        li
         i.icon-phone
         strong Phone:  (123) 456-7890                  
        li
         i.icon-envelope 
         strong Email:
         a(href='mailto:mail@example.com') mail@example.com
