#home.jumbotron
  .container
    .media
     a#gdg-logo.pull-right(href='#')
      img.media-object(src='images/logo_gdg.png', styles='600px')
     div.media-body
      .col-md-11
      h1.title Google Developer Group 
        small.sri-lanka Sri Lanka                   
      p Template Eden is a marketplace for all kind of template. If you need a fresh looking, valid and highly optimized template for your site this is the right place to fill your need in best possible way.                   
       p
        a.btn.btn-success.btn-lg
         | Learn more 
         i.icon.icon-angle-right
#services.container
  // Example row of columns
  .row.features
   .col-lg-4.text-center
     .single-fet
      div
        img(src="images/GDG-Meetups.jpg")          
      h2
        | Meetups
      |                 
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
        | mauris
        | condimentum nibh, ut fermentum massa justo sit amet.
   |         
   .col-lg-4.text-center
     .single-fet
      div
        img(src="http://placehold.it/360x210")
      |                 
      h2 G-College
      |                 
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
        | mauris
        | condimentum nibh, ut fermentum massa justo sit amet.
   |         
   .col-lg-4.text-center
     .single-fet
      div
        img(src="http://placehold.it/360x210")
      |                 
      h2 CodeLanka
      |                 
      p
        | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
        | mauris
        | condimentum nibh, ut fermentum massa justo sit amet.
section#features.slider
  .container
   .inner-page
     h2.page-headline.large.text-center Some of our awesome stories
     |             
     p.text-center
      | Tell your projects awesome story. Tell your projects awesome story. Tell your
      | projects awesome story. Tell your projects awesome story.
   |         
   .row.inner-page
     .col-md-8.col-md-push-4
        div.stories-slider
           div
            img(src="images/google-io-stage.jpg")            
           div
            img(src="http://placehold.it/735x345")            
     .col-md-4.col-md-pull-8
      .list-group.stories-list
        a.list-group-item.active(href='#')
         h4.list-group-item-heading Google IO 2015 Extended Sri Lanka
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
        |                     
        a.list-group-item(href='#')
         h4.list-group-item-heading Android Jam Workshops
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
        |                     
        a.list-group-item(href='#')
         h4.list-group-item-heading DevFest 2014 Sri Lanka
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
        |                     
        a.list-group-item(href='#')
         h4.list-group-item-heading Android App Clinic 2014
         |                         
         p.list-group-item-text
           | Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
           | tellus ac cursus commodo, tortor
section#keep_in_touch
  .container
   .row
     .col-md-12
      h2.page-headline.large.text-center Keep in touch with us
      |                 
      p.text-center
        | Tell your projects awesome story. Tell your projects awesome story. Tell your
        | projects awesome story. Tell your projects awesome story.
  |     
  .container
   .row.pricing-table
     .col-md-4.text-center
        img(src="images/social-networks-cloud.png", style="height: 165px;")
        h3 Social Networks        
        p Keep eye on us for cool events. We'll be announcing them via our G+ & Fb pages. Of course via our twitter!
     .col-md-4.text-center
        img(src="images/Google_Games.png", style="height: 165px;")
        h3 Participate & Rock 
        p Come, let you be visible to the community. Let's share the knowledge together, let's rock together. 
     .col-md-4.text-center
        img(src="images/announce.png", style="height: 148px;margin: 8px;")
        h3 Organize with us
        p Like to organize an awesome event with us? Send us your cool proposals. Know more <a href="#">here</a>
section.gray
  .container
   .row
     .col-md-12
      h3.text-center Tell your projects awesome story.
section#clients.about
  .dmask
   .our-clients
     .container
      .row
        .client(style='background-position: 50% 27px;')
         .client-logo
           .col-lg-8.col-md-8.col-sm-6.col-xs-12
            .clients-title
              h3.title
               | Our 
               span Clients
              |                                     
              .carousel-controls.pull-right
               a.prev.btn-mini(data-slide='prev', href='#client-carousel')
                 i.icon-angle-left
               |                                         
               a.next.btn-mini(data-slide='next', href='#client-carousel')
                 i.icon-angle-right
               |                                         
               .clearfix
            |                                 
            .clearfix
            |                                 
            .row
              #client-carousel.client-carousel.slide
               .carousel-inner
                 .item.active
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d1.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-1.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d2.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-2.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d3.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-3.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item.animate_afc.d4.animate_start
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-4.png', alt='Upportdash')
                 |                                             
                 .item
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-5.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-4.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-3.png', alt='Upportdash')
                  |                                                 
                  .col-lg-3.col-md-3.col-sm-3.col-xs-6.item
                    .item-inner
                     a(style='cursor: pointer;')
                       img(src='images/logo-2.png', alt='Upportdash')
           |                             
           .col-lg-4.col-md-4.col-sm-6.col-xs-12
            // Testimonials Widget Start
            .row
              .testimonials.widget
               .col-lg-12.col-md-12.col-sm-12.col-xs-12
                 .testimonials-title
                  h3.title
                    | Client 
                    span Testimonials
                  |                                                 
                  .carousel-controls.pull-right
                    a.prev.btn-mini(data-slide='prev', href='#testimonials-carousel')
                     i.icon-angle-left
                    |                                                     
                    a.next.btn-mini(data-slide='next', href='#testimonials-carousel')
                     i.icon-angle-right
                    |                                                     
                    .clearfix
               |                                         
               .clearfix
               |                                         
               #testimonials-carousel.testimonials-carousel.slide.animate_afr.d5.animate_start
                 .carousel-inner
                  .item
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                     .testimonial.item
                       p
                        | Lorem Ipsum is simply dummy text of the printing and
                        | typesetting industry. Lorem Ipsum has been the
                        | industry&apos;s standard dummy text ever since the 1500s,
                        | when an unknown printer took a galley of type.
                       |                                                             
                       .testimonials-arrow
                       |                                                             
                       .author
                        .testimonial-image
                          img(src='images/team-member-1.jpg', alt='')
                        |                                                                 
                        .testimonial-author-info
                          a(style='cursor: pointer;')
                           | Monica Sing/a&gt; Template
                           | Eden
                  |                                                 
                  .item.active
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                     .testimonial.item
                       p
                        | Lorem Ipsum is simply dummy text of the printing and
                        | typesetting industry. Lorem Ipsum has been the
                        | industry&apos;s standard dummy text ever since the 1500s,
                        | when an unknown printer took a galley of type.
                       |                                                             
                       .testimonials-arrow
                       |                                                             
                       .author
                        .testimonial-image
                          img(src='images/team-member-2.jpg', alt='')                                                              
                        .testimonial-author-info
                          a(href='#') John Doe Template Eden
                  |                                                 
                  .item
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                     .testimonial.item
                       p
                        | Lorem Ipsum is simply dummy text of the printing and
                        | typesetting industry. Lorem Ipsum has been the
                        | industry&apos;s standard dummy text ever since the 1500s,
                        | when an unknown printer took a galley of type.                                                         
                       .testimonials-arrow                                                           
                       .author
                        .testimonial-image
                          img(src='images/team-member-3.jpg', alt='')                                                                
                        .testimonial-author-info
                          a(style='cursor: pointer;') Carol Johansen Template Eden
section#contact.contact
  .container
   .row
     .col-md-6
      #contactSuccess.alert.alert-success.hidden strong Success! Your message has been sent to us.           
      #contactError.alert.alert-error.hidden strong Error! There was an error sending your message.
         
      h2.short
        strong Contact Us               
      form.clearfix(accept-charset='utf-8', method='get', action='#')
        .row
         .col-sm-6.form-group
           label(for='name') Name                          
           input#name.form-control.input-lg(type='text', placeholder='', value='', name='name')                      
         .col-sm-6.form-group
           label(for='email') Email Address                            
           input#email.form-control.input-lg(type='email', placeholder='', value='', name='email')
         
        .row
         .col-sm-12.form-group
           label(for='message') Message                            
           textarea#message.form-control(rows='4', name='message')                   
        button.btn.btn-success.btn-xlg(type='submit') Send Message          
     .col-md-offset-1.col-md-5
      br             
      h4.pull-top Get in 
        strong touch               
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet
        | varius. In eu ipsum vitae velit congue iaculis vitae at risus.             
      hr                
      h4 The Office              
      ul.unstyled
        li
         i.icon-map-marker
         strong Address:
         |  1234 Street Name, City Name, United States                   
        li
         i.icon-phone
         strong Phone:  (123) 456-7890                  
        li
         i.icon-envelope 
         strong Email:
         a(href='mailto:mail@example.com') mail@example.com
